.background {
    background-image: url("../assets/background.jpg");
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 100%;
    max-width: 450px;
    height: auto;
    background: black;
    border-radius: 10px;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

.wrapper .form-box {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

form h1 {
    font-size: 28px;
    text-align: center;
}

form .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent; 
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .1);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding-left: 15px;
}

.input-box .icons {
    color: white;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 16px;
}

.remember {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -10px 0 20px;
}

.remember label {
    margin-bottom: 10px;
}

/* Mobile Styles */
@media (max-width: 480px) {
    .wrapper {
        width: 100%;
        max-width: 350px;
        padding: 10px;
    }

    .input-box input {
        font-size: 14px;
        padding-left: 10px;
    }

    .input-box .icons {
        font-size: 14px;
    }

    form h1 {
        font-size: 24px;
    }

    .remember {
        flex-direction: column;
        align-items: center;
    }
}

/* Tablet Styles */
@media (min-width: 481px) and (max-width: 768px) {
    .wrapper {
        width: 80%;
        max-width: 400px;
    }

    form h1 {
        font-size: 26px;
    }

    .input-box input {
        font-size: 15px;
        padding-left: 12px;
    }

    .input-box .icons {
        font-size: 15px;
    }

    .remember {
        font-size: 14px;
    }
}
